extends layout
block content
  link(href='../../stylesheets/admain.css', rel='stylesheet')
  .tableTitle
    h1 文章管理
  table.admiainTable
    thead
      tr
       th 题目
       th 作者
       th 上传时间
       th 更新时间
       th 查看
       th 修改
       th 删除
    tbody
      each item in essays
        tr.item
         td #{item.essayTitli}
         td #{item.author.nickName}
         td #{moment(item.meta.createAt).format('YYYY-MM-DD')}
         td #{moment(item.meta.updateAt).format('YYYY-MM-DD')}
         td
           a.tableBtn(href='/blog/#{item._id}',style='color:#28ac73;')
             i.iconfont.icon-chakan-copy
         td 
           a.tableBtn(href='/blog/essayModify/#{item._id}',style='color:orange;')
             i.iconfont.icon-modify
         td 
           a.tableBtn.deleteItem(href='javascript:void(0)',style='color:red;' , data-itemId = '#{item._id}')
             i.iconfont.icon-shanchu
  #wrap
    #pageBox
      - for (var i = 0; i < pageCount; i++){
        - if (i == 0)
          .pageItem
            a(href='javascript:void(0);',data-page='#{i}').pageActive #{i+1}
        - else
          .pageItem
            a(href='javascript:void(0);',data-page='#{i}') #{i+1}
      - }
  script(type='text/javascript' src='../../javascripts/admainControl.js')    
